mongo/db
mongo/db/*/**
mongo/dump
mongo/dump/*/**
mongo/seed/
mongo/seed/*/**/
server/dist/*/**
server/dist
server/node_modules
server/node_modules/*/**
.env
/*/.env
/*/**/.env
.vscode/
/*/**/__pycache__
/*/**/__pycache__/*
/*/**/logs
/*/**/logs/*